
    p{
      font-size: 24px;
      font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
      margin-bottom: 10px;
      padding-right: 20px;
    }

  input {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
      width: 95%;
      color: #333;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #fff;
      &:active, &:focus, &:hover {
        outline: 0;
        outline-offset: 0;
      }
      &::placeholder {
        font-weight: 200;
      }
    }