.main {
    background-image: url('../../assets/footer_back.png');
    height: 460px;
    background-size: contain;
    background-position-y: 20%;
    flex: 0 1 auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
}

.footer_menu {
    margin-left: 300px;

    h4 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 100px;
        letter-spacing: 12px;
        border-bottom: 2px solid #F5AB67;
        height: 15%;
        color: white;
    }
    ul {
        padding-top: 40px;
        list-style-type: none;
        a {
            text-decoration: none;
            color: white;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600px;
            font-size: 26px;
            line-height: 32px;
            letter-spacing: 0.9px;
        }
    }
}

.logo_bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 370px;
    transform: rotate(20deg);
    img {
        width: 55px;
        height: 75px;
        transform: rotate(-20deg);
    }
}